/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-image:-webkit-linear-gradient(270deg,white 0%,rgb(167,167,167) 100%);
    background-attachment: scroll;
    background-size: auto;
    position: relative;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#text2 {
    float: right;
    font-size: 1em;
    width: 9.998046875em;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 40px;
    clear: none;
    min-height: 31px;
    color: rgb(255, 255, 255);
    margin-right: 1.737896%;
}

#SocMediaButton1 {
    float: left;
    height: 40px;
    font-size: 1em;
    margin-left: -0.0658039%;
    margin-top: 0px;
    clear: none;
    width: 28.071163%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-right: 0%;
}

#SocMediaButton11 {
    float: left;
    height: 40px;
    font-size: 1em;
    margin-left: 7.710024%;
    margin-top: 0px;
    clear: none;
    width: 28.071163%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-right: 0%;
}

#socialMedia {
    float: right;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    clear: right;
    width: 8.6728515625em;
    margin-right: 1.767221%;
}

#SocMediaButton12 {
    float: left;
    height: 40px;
    font-size: 1em;
    margin-left: 72.230752%;
    margin-top: -40px;
    clear: both;
    width: 28.071163%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-right: 0%;
}

#splashContainer {
    float: left;
    height: 364px;
    clear: both;
    width: 100%;
    position: absolute;
    top: 140px;
    left: 0%;
    z-index: 0;
    background-image:url("img/dummySplashImage_16x9.png");
    background-attachment: scroll;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#logo {
    float: left;
    width: auto;
    max-width: 100%;
    height: auto;
    margin-left: 1.754304%;
    margin-top: 20px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0%;
}

#callToActionContainer {
    float: left;
    height: 294px;
    margin-left: 1.75333%;
    margin-top: 40px;
    clear: both;
    width: 35.714286%;
    background-color: rgba(255, 255, 255, 0.741176);
    min-width: 22em;
    max-width: 25em;
    margin-right: 0%;
}

#text {
    float: left;
    font-size: 1.5em;
    width: 90.619728%;
    height: auto;
    text-align: left;
    font-weight: 600;
    line-height: 1em;
    margin-left: 4.683069%;
    margin-top: 20px;
    clear: none;
    min-height: 41px;
}

#text1 {
    float: left;
    font-size: 1em;
    width: 90.624168%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.5em;
    margin-left: 4.683069%;
    margin-top: 1px;
    clear: both;
    min-height: 162px;
}

#input3 {
    float: right;
    height: 41px;
    font-size: 1em;
    margin-left: 0px;
    margin-top: 8px;
    clear: both;
    width: 181.375px;
    margin-right: 4.688613%;
}

#input {
    float: right;
    height: 56px;
    font-size: 1em;
    clear: none;
    width: 97.109375px;
    position: absolute;
    top: 0px;
    left: auto;
    right: 0px;
}

#input1 {
    float: right;
    height: 56px;
    font-size: 1em;
    clear: none;
    width: 97.109375px;
    position: absolute;
    top: 0px;
    left: auto;
    right: 125.125px;
}

#input2 {
    float: right;
    height: 56px;
    font-size: 1em;
    clear: none;
    width: 96.65625px;
    position: absolute;
    top: 0px;
    left: auto;
    right: 250.28125px;
}

#menuContainer {
    float: right;
    height: 56px;
    margin-left: 0px;
    margin-top: 40px;
    clear: none;
    width: 34.393136%;
    margin-right: 1.686512%;
    position: relative;
    overflow: visible;
}

#text16 {
    float: left;
    font-size: 0.8em;
    width: 42.292132%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1.7em;
    margin-left: -58.664012%;
    margin-top: 16.625px;
    clear: none;
    min-height: 30px;
    margin-right: 0%;
    color: rgb(255, 255, 255);
}

#content {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    width: 68.280625%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 1;
    margin-right: auto;
    max-width: 1200px;
}

#sideBar {
    float: left;
    height: auto;
    margin-left: 1.866719%;
    margin-top: 90px;
    clear: none;
    width: 34.260603%;
    background-color: rgb(255, 255, 255);
    padding-left: 0em;
    padding-bottom: 1em;
}

#text17 {
    float: left;
    font-size: 1.5em;
    width: 90.581231%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.929663%;
    margin-top: 20px;
    clear: none;
    min-height: 40px;
}

#text24 {
    float: left;
    font-size: 1.5em;
    width: 90.581231%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 4.706931%;
    margin-top: 18.625px;
    clear: both;
    min-height: 40px;
    margin-right: 0%;
}

#services {
    float: left;
    height: auto;
    margin-left: 1.710114%;
    margin-top: 90px;
    clear: both;
    width: 60.343192%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0em;
    padding-bottom: 1em;
}

#text3 {
    float: left;
    font-size: 1.5em;
    width: 94.32897%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 2.861496%;
    margin-top: 20px;
    clear: none;
    min-height: 40px;
    margin-right: 0%;
}

#tweet {
    float: left;
    height: auto;
    margin-left: 4.91712%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
}

#article {
    float: left;
    height: auto;
    margin-left: 4.707243%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
    margin-right: 0%;
}

#box {
    float: left;
    height: auto;
    margin-left: 2.814449%;
    margin-top: 20px;
    clear: both;
    width: 27.481602%;
}

#image {
    float: left;
    width: 100%;
    height: auto;
    margin-left: -0.01704013%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#box1 {
    float: left;
    height: auto;
    margin-left: 6.890062%;
    margin-top: 20px;
    clear: none;
    width: 27.481602%;
    margin-right: 0%;
}

#image1 {
    float: left;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#box2 {
    float: left;
    height: auto;
    margin-left: 4.977248%;
    margin-top: 20px;
    clear: none;
    width: 27.484411%;
    margin-right: 0%;
}

#image2 {
    float: left;
    width: 100%;
    height: auto;
    margin-left: -0.00933097%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#text4 {
    float: left;
    font-size: 1em;
    width: 100.130658%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.13632104%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
}

#text6 {
    float: left;
    font-size: 1em;
    width: 100.130658%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.01704013%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
    margin-right: 0%;
}

#text8 {
    float: left;
    font-size: 1em;
    width: 100.111972%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.01703723%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
    margin-right: 0%;
}

#text5 {
    float: left;
    font-size: 1em;
    width: 100.136321%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -0.13632104%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
}

#image6 {
    float: left;
    width: 20.813008%;
    max-width: none;
    height: 89.473684%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    min-height: 0px;
}

#text18 {
    float: right;
    font-size: 1em;
    width: 45.695631%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 23px;
    margin-right: 29.172148%;
}

#text19 {
    float: right;
    font-size: 1em;
    width: 74.844596%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: right;
    min-height: 0px;
    margin-right: 0%;
}

#tweet1 {
    float: left;
    height: auto;
    margin-left: 4.706931%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
    margin-right: 0%;
}

#image7 {
    float: left;
    width: 20.813008%;
    max-width: none;
    height: 77.272727%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    min-height: 0px;
}

#text20 {
    float: right;
    font-size: 1em;
    width: 45.696993%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 23px;
    margin-right: 28.049636%;
}

#text21 {
    float: right;
    font-size: 1em;
    width: 73.728012%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: right;
    min-height: 60px;
    margin-right: 0.05700254%;
}

#tweet2 {
    float: left;
    height: auto;
    margin-left: 4.553004%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
    margin-right: 0%;
}

#image8 {
    float: left;
    width: 20.813008%;
    max-width: none;
    height: 77.272727%;
    margin-left: 0%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    min-width: 0px;
    min-height: 0px;
}

#text22 {
    float: right;
    font-size: 1em;
    width: 45.696993%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    min-height: 23px;
    margin-right: 27.48838%;
}

#text23 {
    float: right;
    font-size: 1em;
    width: 73.728012%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: 5px;
    clear: right;
    min-height: 60px;
    margin-right: 0.05700254%;
}

#text7 {
    float: left;
    font-size: 1em;
    width: 100.136325%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -0.34531031%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
    margin-right: 0%;
}

#text9 {
    float: left;
    font-size: 1em;
    width: 100.117638%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
    margin-right: 0%;
}

#text25 {
    float: left;
    font-size: 1em;
    width: 34.197087%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0.24115756%;
    margin-top: 0px;
    clear: none;
    min-height: 25px;
}

#text26 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    min-height: 48px;
    min-width: 0px;
}

#article1 {
    float: left;
    height: auto;
    margin-left: 4.707243%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
    margin-right: 0%;
}

#text27 {
    float: left;
    font-size: 1em;
    width: 34.197087%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0.24115756%;
    margin-top: 0px;
    clear: none;
    min-height: 25px;
}

#text28 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    min-height: 48px;
    min-width: 0px;
}

#article2 {
    float: left;
    height: auto;
    margin-left: 4.925686%;
    margin-top: 20px;
    clear: both;
    width: 90.581231%;
    margin-right: 0%;
}

#text29 {
    float: left;
    font-size: 1em;
    width: 34.197087%;
    height: auto;
    text-align: left;
    font-weight: bold;
    line-height: 1em;
    margin-left: 0.24115756%;
    margin-top: 0px;
    clear: none;
    min-height: 25px;
}

#text30 {
    float: left;
    font-size: 1em;
    width: 100%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 1px;
    clear: both;
    min-height: 48px;
    min-width: 0px;
}

#box6 {
    float: left;
    height: 141px;
    margin-left: 1.708984%;
    margin-top: 16.375px;
    clear: left;
    width: 96.526228%;
    background-color: rgb(0, 0, 0);
}

#text31 {
    float: left;
    font-size: 1em;
    width: 36.215868%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 1.713113%;
    margin-top: 104px;
    clear: none;
    min-height: 25px;
    color: rgb(255, 255, 255);
}

#text33 {
    float: right;
    font-size: 1em;
    width: 36.211672%;
    height: auto;
    text-align: right;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0px;
    margin-top: -25px;
    clear: none;
    min-height: 25px;
    color: rgb(255, 255, 255);
    margin-right: 1.71917%;
}

#text32 {
    float: none;
    font-size: 1em;
    width: 21.062276%;
    height: auto;
    text-align: center;
    font-weight: normal;
    line-height: 1em;
    margin-left: auto;
    margin-top: 104px;
    clear: none;
    min-height: 25px;
    color: rgb(255, 255, 255);
    margin-right: auto;
}

#box3 {
    float: left;
    height: auto;
    margin-left: 3.030729%;
    margin-top: 20px;
    clear: both;
    width: 27.481602%;
    margin-right: 0%;
}

#text10 {
    float: left;
    font-size: 1em;
    width: 100.130658%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.13632104%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
}

#image3 {
    float: left;
    width: 100%;
    height: auto;
    margin-left: -0.01704013%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#text11 {
    float: left;
    font-size: 1em;
    width: 100.136321%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -0.13632104%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
}

#box4 {
    float: left;
    height: auto;
    margin-left: 6.696253%;
    margin-top: 20px;
    clear: none;
    width: 27.481602%;
    margin-right: 0%;
}

#text12 {
    float: left;
    font-size: 1em;
    width: 100.130658%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.01704013%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
    margin-right: 0%;
}

#image4 {
    float: left;
    width: 100%;
    height: auto;
    margin-left: 0%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#text13 {
    float: left;
    font-size: 1em;
    width: 100.136325%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: -0.34531031%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
    margin-right: 0%;
}

#box5 {
    float: left;
    height: auto;
    margin-left: 4.929498%;
    margin-top: 20px;
    clear: none;
    width: 27.484411%;
    margin-right: 0%;
}

#text14 {
    float: left;
    font-size: 1em;
    width: 100.111972%;
    height: auto;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
    margin-left: -0.01703723%;
    margin-top: 0px;
    clear: none;
    min-height: 28px;
    margin-right: 0%;
}

#image5 {
    float: left;
    width: 100%;
    height: auto;
    margin-left: -0.00933097%;
    margin-top: 0px;
    clear: both;
    color: rgb(0, 0, 0);
    min-width: 0px;
}

#text15 {
    float: left;
    font-size: 1em;
    width: 100.117638%;
    height: auto;
    text-align: left;
    font-weight: normal;
    line-height: 1em;
    margin-left: 0%;
    margin-top: 20px;
    clear: both;
    min-height: 126px;
    margin-right: 0%;
}

